[submodule "Pep/vendor/spdlog"]
	path = Pep/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "pep/vendor/GLFW"]
	path = pep/vendor/GLFW
	url = https://github.com/brokepep/glfw
[submodule "Pep/vendor/imgui"]
	path = Pep/vendor/imgui
	url = https://github.com/TheCherno/imgui
[submodule "pep/vendor/glm"]
	path = pep/vendor/glm
	url = https://github.com/g-truc/glm
